@model Producto

@{
    ViewData["Title"] = "Create";
}

<div class="card shadow bg-dark text-white text-center p-2 m-2">
    <h3>Agregar Producto</h3>
    <a class="btn btn-outline-light col-3 mx-auto" asp-controller="Productos" asp-action="Index"><i class="bi bi-arrow-left-circle mx-2"></i>Volver al Listado</a>
</div>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descripcion" class="control-label"></label>
                <input asp-for="Descripcion" class="form-control" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Precio" class="control-label"></label>
                <input asp-for="Precio" class="form-control" />
                <span asp-validation-for="Precio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Stock" class="control-label"></label>
                <input asp-for="Stock" class="form-control" />
                <span asp-validation-for="Stock" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label  class="control-label">Selecciona Categoria</label>
                <select asp-for="IdCategoria" class="form-select" asp-items="ViewBag.Categorias">
                </select>
                <span asp-validation-for="IdCategoria" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Url Imagen</label>
                <input name="urlimagen" class="form-control" />
            </div>


            <div class="form-group">
                <input type="submit" value="Agregar Producto" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
