@model AdministracionUsuariosViewModel

<h1>Administracion de Usuarios</h1>

<table class="table table-striped">
    <tr>
        <td>
            Nombre de Usuario
        </td>
    </tr>

    @foreach (var user in Model.ListUsuarios)
    {
        <tr>
            <td>
                @user
            </td>
        </tr>
    }
</table>

@foreach (var n in Model.Roles)
{
    <div class="card shadow col-md-3">
        @n
    </div>
}
