@model IEnumerable<WebApp.Models.Categoria>

@{
    Layout = "_Layout";
}
<p>
        <a class="btn btn-outline-success" asp-action="Create"><i class="bi bi-plus-circle mx-2"></i>Agregar Nueva Categoria</a>
</p>

<div class="row justify-content-start">
    @foreach (var item in Model)
    {
        <div class="card text-center m-2" style="width: 18rem;">
            <img src="@item.UrlImagen" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">@item.Nombre</h5>
                    <a asp-controller="Categorias" asp-action="EditarCategoria" asp-route-IdCategoria="@item.Id" ><i class="bi bi-pencil-square mx-2"></i></a>
                    <a onclick="return confirm('¿Estas Seguro?')"
                        asp-controller="Categorias" asp-action="EliminarCategoria" asp-route-IdCategoria="@item.Id"><i class="bi bi-trash2 mx-2"></i></a>
            </div>
        </div>
    }
</div>
